In [19]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [20]:
data = pd.read_csv('auto-mpg.data.csv')

In [21]:
data # Validating data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,carname
0,18.0,8,307.0,130,3504,12.0,70,"1\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165,3693,11.5,70,"1\t""buick skylark 320"""
2,18.0,8,318.0,150,3436,11.0,70,"1\t""plymouth satellite"""
3,16.0,8,304.0,150,3433,12.0,70,"1\t""amc rebel sst"""
4,17.0,8,302.0,140,3449,10.5,70,"1\t""ford torino"""
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,"1\t""ford mustang gl"""
394,44.0,4,97.0,52,2130,24.6,82,"2\t""vw pickup"""
395,32.0,4,135.0,84,2295,11.6,82,"1\t""dodge rampage"""
396,28.0,4,120.0,79,2625,18.6,82,"1\t""ford ranger"""
397,31.0,4,119.0,82,2720,19.4,82,"1\t""chevy s-10"""

In [22]:
# Using the scheme of Xb = y
X = data.drop(['mpg', 'carname'], axis = 1).to_numpy() 
X = np.insert(X, 0, np.ones(X.shape[0]), axis = 1) # inserting 1s to account for the slope intercept
y = data.iloc[:, 0].to_numpy() # dependent set

In [74]:
# Need to create K-Folds
K = 10

# Evenly partition the both y and X into 10 partitions
np.random.seed(X.shape[0])
indices = np.random.permutation(X.shape[0]) # Randomizing indices to shuffle rows

In [75]:
indices = np.array_split(indices, K)

In [93]:
folds = indices